@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika:wght@300;400&display=swap') *,
  *: : before, *: : after {
  box-sizing: border-box;
}
@font-face {
  font-family: Gagalin;
  src: url('/Gagalin/Commercial/OTF/Gagalin-Regular.otf');
}
body {
  margin: 0;
  padding: 0;
  background-color: #272030;
  line-height: 1.5;
}
body img {
  width: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-family: Gagalin, 'Inter', sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 0;
}
p {
  font-family: 'Signika', sans-serif;
  color: #f4f2ee;
}
img {
  border-style: none;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-align: center;
}

#logo {
  width: 10%;
}
nav {
  display: flex;
  justify-content: flex-start;
}
#main-page {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  height: 100vh;
  padding: 1em;
}
.hero {
  grid-area: hero;
}
.text {
  padding: 0.5em;
  margin-top: 0.5em;
}
.start-button {
  line-height: 40px;
  width: 10em;
  padding: 0;
  border-radius: 175px;
  background: rgb(112, 204, 124);
  border: #84f480 2px solid;
  box-shadow: 0 0 5px #84f480, 0 0 5px #84f480 inset;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  font-family: Gagalin, 'Inter', sans-serif;
  margin: 1.25em auto 0;
  animation: slide 2s infinite;
}
.start-button:hover {
  background: #f4f2ee;
  transform: scale(1.05);
  border: none;
  color: #272030;
  box-shadow: 0 0 5px #fff, 0 0 5px #ffff inset;
}

#quiz-page {
  background: #fff;
  width: 80%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  border: #84f480 2px solid;
}
#quiz-page h1 {
  border-bottom: 1px solid #333;
  padding-bottom: 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2em;
}
#quiz-page h2 {
  color: #414187;
}

.choice-btn {
  background: #fff;
  width: 100%;
  border: 1px solid #222;
  padding: 0.5em;
  margin: 0.5em 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.choice-btn:hover {
  background: #414187;
  color: #fff;
}
#submit-button {
  display: block;
  align-self: center;
  margin: 1.25em auto 0;
}
@keyframes slide {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(360deg);
  }
}
